# تنظیمات ربات تلگرام
BOT_TOKEN=your_telegram_bot_token_here
ADMIN_ID=your_telegram_user_id_here

# تنظیمات پروکسی (اختیاری)
# اگر نیاز به پروکسی ندارید، این خط را کامنت کنید یا خالی بگذارید
PROXY_URL=http://127.0.0.1:10808
